/* Basic Style */
.b-page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.b-header {
  display: block;
  width: 500px;
  text-align: right;
}

.b-page__header {
  margin: 0 auto 16px auto;
}

.b-header__img {
  width: 100%;
}

.b-header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .b-page__header {
    text-align: center;
  }
}

.b-tasks {
  display: block;
  width: 500px;
}

.b-page__tasks {
  margin: 0 auto 0;
}

.b-task__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  vertical-align: middle;
}

.b-new-task {
  display: flex;
}

.b-add-task__new-task {
  margin: 20px 0 16px 0;
}

.b-task-list {
  padding: 0px;
}

.b-tasks-completed__task-list {
  margin: 0;
}

.b-tasks-todo__task-list {
  margin: 0;
}

.b-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.b-btn:hover {
  color: #3a3A3a;
}

/* Heading */
.b-title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  text-transform: uppercase;
  list-style: none;
}

.b-add-task__title {
  margin: 0;
}

.b-tasks-todo__title {
  margin: 0;
}

.b-tasks-completed__title {
  margin: 0;
}

.b-input-text {
  flex-grow: 1;
  width: 226px;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}

.b-input-text:focus {
  color: #333;
}

/* New Task */
.b-new-task__input {
  display: inline-block;
  width: 318px;
}

/* Task list */
.b-task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.b-task__checkbox {
  margin: 0 10px;
  vertical-align: middle;
  outline: none;
}

.b-task__img-del {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.b-task__img-del:hover {
  transform: rotateZ(0);
}

/* Completed */
.b-task-completed__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.b-task__value {
  display: none;
  margin: 0;
  vertical-align: middle;
}

.b-task_editMode .b-task__value {
  display: inline-block;
  width: 224px;
}

.b-task_editMode label {
  display: none;
}